<p-card class="card-aln">
    <div class="w3-panel">
      <div class="w3-row-padding row" style="margin:0 -16px">
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Attendance Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue ion-clr"></i></td>
                <td (click)="navigate('student_attendance')" class="subheader-clr"><a class="nav-link ">
                    <b>Students Attendance Register</b>
                  </a></td>

              </tr>
              <tr>
                <td ><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('staff_attendance')" class="subheader-clr"><a class="nav-link">
                   <b> Staff Attendance Register</b>
                     </a></td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Student Tagging Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large ion-clr"></i></td>
                <td (click)="navigate('nmms_scheme')" class="subheader-clr"><a class="nav-link"><b>NMMS Scheme</b></a> </td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('trstse')" class="subheader-clr"> <a class="nav-link"><b>TRSTSE Scholarship Scheme</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('outofscholl-chidren')" class="subheader-clr"><a class="nav-link"><b>Out Of School Children Register</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('inspire_award')" class="subheader-clr">
                  <a class="nav-link"><b>Inspire Award Details</b></a> </td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('vacationalstudent-NSQF')" class="subheader-clr">
                  <a class="nav-link"><b>Vocational Student (NSQF) Register</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentsports-participation')" class="subheader-clr">
                  <a class="nav-link"><b>Students Sports Participation</b></a></td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Student Summary Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large ion-clr"></i></td>
                <td (click)="navigate('rte-studentregister')" class="subheader-clr"><a class="nav-link"><b>RTE Student Register</b></a> </td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('cwsn-studentregister')" class="subheader-clr"> <a class="nav-link"><b>CWSN-Student Register</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('students-religiondetails')" class="subheader-clr"><a class="nav-link"><b>Students Religion Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('students-underbelow-povertyline')" class="subheader-clr">
                  <a class="nav-link"><b>Students under Below Poverty Line</b></a> </td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('students-validaadhar')" class="subheader-clr">
                  <a class="nav-link"><b>Students having Valid AADHAR</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('students-reportbyage')" class="subheader-clr">
                  <a class="nav-link"><b>Students Report By Age</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('students-communitydetails')" class="subheader-clr">
                  <a class="nav-link"><b>Students Community Details</b></a></td>

              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="w3-panel">
      <div class="w3-row-padding row" style="margin:0 -16px">
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Student Welfare Sheme Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large ion-clr"></i></td>
                <td (click)="navigate('ptmgr-noonmealprogramme')" class="subheader-clr"
                ><a class="nav-link"><b>PTMGR Nutritious Meal Programme Beneficiaries (Mid Day Meal)</b></a> </td
                  >

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-textbooks')" class="subheader-clr"> <a class="nav-link"><b>Cost Free Textbooks Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-notebooks')" class="subheader-clr"><a class="nav-link"><b>Cost Free Notebooks Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-bags')" class="subheader-clr">
                  <a class="nav-link"><b>
                      Cost Free Bags Distribution Details</b></a> </td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-uniforms')" class="subheader-clr">
                  <a class="nav-link"><b>
                      Cost Free Uniforms Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-footwear')" class="subheader-clr">
                  <a class="nav-link"><b>

                      Cost Free Footwear Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-buspass')" class="subheader-clr">
                  <a class="nav-link"><b>Cost Free Bus Pass Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-colourpencil')" class="subheader-clr"><a class="nav-link"><b>Cost Free Colour Pencil Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-geometrybox')" class="subheader-clr"><a class="nav-link"><b>Cost Free Geometry Box Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-atlas')" class="subheader-clr">
                  <a class="nav-link"><b>Cost Free Atlas Distribution Details</b></a></td>

              </tr>
             
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-laptop11')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Laptops Distribution 11-Std Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-laptop12')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Laptops Distribution 12-Std Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-laptop12preyears')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Laptops Distribution Previous Year 12-Std Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-bicycle')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Bicycle Distribution</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('CWSN-studentbenifitregister')" class="subheader-clr"><a class="nav-link"><b>
                      CWSN-Student Benefits Register</b></a></td>

              </tr>
            </tbody>
          </table>
        </div>
         <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Hill Station Student Welfare Scheme Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
               <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-cutsweater')" class="subheader-clr">
                  <a class="nav-link"><b>Cost Free Cut-Sweater Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-boot')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Boot Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-socks')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Socks Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('costfree-raincoat')" class="subheader-clr"><a class="nav-link"><b>Cost Free Raincoat Distribution Details</b></a></td>

              </tr>

            </tbody>
          </table>
        </div>
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Staff Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
               <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('staff-trainingdetail')" class="subheader-clr">
                  <a class="nav-link"><b>Staff Training Details</b></a></td>

              </tr>
              <!-- <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
                <td (click)="navigate('scaleregister')"><a class="nav-link"><b>
                      Scale Register</b></a></td>

              </tr> -->

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="w3-panel">
      <div class="w3-row-padding row" style="margin:0 -16px">
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Club Participation Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
               <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('club_participation_register')" class="subheader-clr">
                  <a class="nav-link"><b>Club Participation Register</b></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Extracurricular Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
               <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('competition-participation-register')" class="subheader-clr">
                  <a class="nav-link"><b>Competition Register</b></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        
        </div>
    </div>
  

    <!-- <div class="w3-panel">
      <p-table [columns]="dataHeader" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-columns>
          <tr>
           
            <td>Student Attendance Register</td>
            <td>Staff Attendance Register</td>
            <td>Staff Attendance Register</td>
            <td>Staff Attendance Register</td>
          </tr>
        </ng-template>
      </p-table>
    </div> -->
  </p-card>


