.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
    width: 268px !important ;
}
.font-siz
{
  font-size: 30px;
  padding: 0px;
}
.font_size_16
{
  font-size: 16px;

}
.sno
{
    width: 5em !important;
}