<div class="body">
    <div class="m-4" *ngIf="emisteamlogin">
        <p-card>
            <div class="container">
                <h3 class="header-align">Teachers Information</h3>
                <form [formGroup]="form">
                    <div class="row mt-3">
                        <label>Password:</label>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 text-weight">
                            <label>UDISE</label>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <input type="text" pInputText class="form-control" formControlName="UDISE_code" maxlength="11">
                            <small class="form-text text-danger" *ngIf="!form.get('UDISE_code').valid && (form.get('UDISE_code').dirty || form.get('UDISE_code').touched)">
                      UDISE Field is required</small>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <button type="submit" class="btn btn-success" (click)="GetPassword()">Submit</button>
                        </div>
                        <div class="col-sm-2 text-weight textbox">
                            <label>Password</label>
                        </div>
                        <div class="col-sm-2 text-weight ">
                            <input type="text" pKeyFilter="pnum" pInputText class="form-control" value={{password}} disabled="true">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label>Admit Teacher:</label>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 text-weight">
                            <label>Aadhar</label>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <input type="text" pInputText class="form-control" formControlName="Aadhar_code" maxlength="12">
                            <small class="form-text text-danger" *ngIf="!form.get('Aadhar_code').valid && (form.get('Aadhar_code').dirty || form.get('Aadhar_code').touched)">
                      Aadhar Field is required</small>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <button type="submit" class="btn btn-success" (click)="onsaveadhar()">Submit</button>
                        </div>
                        <div class="col-sm-2 text-weight textbox">
                            <label>UDISE</label>
                        </div>
                        <div class="col-sm-3 text-weight ">
                            <input type="text" pKeyFilter="pnum" pInputText class="form-control" formControlName="udise_code" value={{udise_code}} maxlength="11">
                        </div>
                        <div class="col-sm-2 text-weight">
                            <button type="submit" class="btn btn-success" (click)="onSave()">Admit</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label>School Name Change:</label>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 text-weight ">
                            <label>UDISE</label>
                        </div>
                        <div class="col-sm-2 text-weight ">
                            <input type="text" pInputText class="form-control" class="form-control" formControlName="udise_codeschool" maxlength="11">
                            <small class="form-text text-danger" *ngIf="!form.get('udise_codeschool').valid && (form.get('udise_codeschool').dirty || form.get('udise_codeschool').touched)">
                      UDISE Field is required</small>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <button type="submit" class="btn btn-success" (click)="getudiseschool()">Submit</button>
                        </div>
                        <div class="col-sm-2 text-weight textbox">
                            <label>School Name</label>
                        </div>
                        <div class="col-sm-3 text-weight">
                            <input type="text" pKeyFilter="pnum" pInputText class="form-control" formControlName="school_name" value={{school_name}}>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <p-confirmDialog header="Confirmation" [style]="{width: '25vw'}" [baseZIndex]="500"></p-confirmDialog>
                            <button type="submit" class="btn btn-success" (click)="Onsaveschoolname()">Update</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label>TC Reset:</label>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 text-weight ">
                            <label>Student UniqueID</label>
                        </div>
                        <div class="col-sm-2 text-weight ">
                            <input type="text" pKeyFilter="pnum" pInputText class="form-control" formControlName="Student_name">
                            <small class="form-text text-danger" *ngIf="!form.get('Student_name').valid && (form.get('Student_name').dirty || form.get('Student_name').touched)">
                      Student UniqueID Field is required</small>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <button type="submit" class="btn btn-success" (click)="GetStudentname()">Submit</button>
                        </div>
                        <div class="col-sm-2 text-weight textbox">
                            <label>Student name</label>
                        </div>
                        <div class="col-sm-3 text-weight">
                            <input type="text" pKeyFilter="pnum" pInputText class="form-control" formControlName="student_name" value={{student_name}}>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <button type="submit" class="btn btn-success" (click)="Onsaveschoolid()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </p-card>
    </div>
    <div class="m-4" *ngIf="Districtlogin">
        <p-card>
            <div class="container">
                <!-- <h3 class="header-align">Teachers Information</h3> -->
                <form [formGroup]="form">
                    <div class="row mt-3">
                        <label>Password:</label>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 text-weight">
                            <label>UDISE</label>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <input type="text" pInputText class="form-control" formControlName="UDISE_code" maxlength="11">
                            <small class="form-text text-danger" *ngIf="!form.get('UDISE_code').valid && (form.get('UDISE_code').dirty || form.get('UDISE_code').touched)">
                      UDISE Field is required</small>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <button type="submit" class="btn btn-success" (click)="GetPassword()">Submit</button>
                        </div>
                        <div class="col-sm-2 text-weight textbox">
                            <label>Password</label>
                        </div>
                        <div class="col-sm-2 text-weight ">
                            <input type="text" pKeyFilter="pnum" pInputText class="form-control" value={{password}} disabled="true">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label>TC Reset:</label>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 text-weight ">
                            <label>Student UniqueID</label>
                        </div>
                        <div class="col-sm-2 text-weight ">
                            <input type="text" pKeyFilter="pnum" pInputText class="form-control" formControlName="Student_name">
                            <small class="form-text text-danger" *ngIf="!form.get('Student_name').valid && (form.get('Student_name').dirty || form.get('Student_name').touched)">
                      Student UniqueID Field is required</small>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <button type="submit" class="btn btn-success" (click)="GetStudentname()">Submit</button>
                        </div>
                        <div class="col-sm-2 text-weight textbox">
                            <label>Student name</label>
                        </div>
                        <div class="col-sm-3 text-weight">
                            <input type="text" pKeyFilter="pnum" pInputText class="form-control" formControlName="student_name" value={{student_name}}>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <button type="submit" class="btn btn-success" (click)="Onsaveschoolid()">Reset</button>
                        </div>
                    </div>
                    <!-- Newfieldmedium -->
                    <div class="row mt-2">
                        <label>Medium:</label>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1 text-weight ">
                            <label>UDISE</label>
                        </div>
                        <div class="col-sm-2 text-weight ">
                            <input type="text" pKeyFilter="pnum" pInputText class="form-control" formControlName="UDISE_codemedium">
                            <small class="form-text text-danger" *ngIf="!form.get('UDISE_codemedium').valid && (form.get('UDISE_codemedium').dirty || form.get('UDISE_codemedium').touched)">
                      UDISE Code Field is required</small>
                        </div>
                        <div class="col-sm-2 text-weight ">
                            <button type="submit" class="btn btn-success" (click)="GetStudentmedium()">Submit</button>
                        </div>
                        <div class="col-sm-2 text-weight textbox">
                            <label>Medium</label>
                        </div>
                        <div class="col-lg-3">
                            <p-dropdown [style]="{width: '100%'}" [options]="sectionlist" (onChange)="onChangeClass($event)" formControlName="medium_nameadd" placeholder="Select Medium"></p-dropdown>
                        </div>
                        <div class="col-sm-2 text-weight">
                            <button type="submit" class="btn btn-success" (click)="Onsaveaddmedium()">Add New Medium</button>
                        </div>
                        <!-- <div class="col-sm-1 text-weight">
                      <button type="submit" class="btn btn-danger" (click)="OnDeletemedium(mediumlist.id)">Delete</button>
                      </div> -->
                        <br>
                        <div class="mt-3 table">
                            <p-table #dt [columns]="cols" [value]="medium_name" [rows]="10" [resizableColumns]="true">
                                <ng-template pTemplate="header" let-distname>
                                    <tr class="text-center" *ngIf="!noDataFound1">
                                        <th class="sno-header-layout">S.NO</th>
                                        <th *ngFor="let col of distname" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                                            {{col.header}}
                                            <!-- <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon> -->
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-distwise let-columns="columns" let-i="rowIndex">
                                    <tr class="text-center">
                                        <td class="sno-header-layout"> {{i+1}} </td>
                                        <td> {{ distwise.medium_name}} </td>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="(columns.length)+2" style="text-align: center;">
                                            <strong>No Data Found</strong>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="caption2">
                                    <div style="text-align: right">
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr class="table-header">
                                        <th class="sno-header-layout">#</th>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}" pResizableColumn>
                                            {{col.header}}
                                            <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                                        </th>
                                        <th width="40%" style="text-align:center">Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                    <tr>
                                        <td class="sno-header-layout">{{i+1}}</td>
                                        <td *ngFor="let col of columns" class="ui-resizable-column" [ngStyle]="{'width': col.width,'date':col.date}">
                                            {{rowData[col.field]}}
                                        </td>
                                        <td style="text-align:center" width="20%">
                                            <button pButton type="button" icon="fa fa-trash" class="ui-button-warning" (click)="OnDeletemedium([rowData])"></button>&nbsp;
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </form>
            </div>
        </p-card>
    </div>
</div>