.outer-layout {
    background-color: #fff!important;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dropdwnvalues {
    width: 100% !important;
}
.goback
{
    margin-left: 700px;

}