.dropdown {
    text-align: center;
    margin-right: 298px;
    margin-top: 5px;
}

.excel {
    margin-top: 5px;
    padding-left: 441px;
}

.search {
    margin-top: -32px;
    padding-left: 725px;
}

.greenalign {
    text-align: left !important;
}