.bng-clr {
    background-color: #dcffcd;
}
.hdr-clr{
    background-color: #075c49;
    color: white;
}
.border {
    border: 1px solid #ccc;
}
.txt-size {
    font-size: 14px;
    padding: 1.5em;
}

li {
    margin-bottom: 1rem;
}