<div class="outer-layout" style="padding-top:5px;">
    <div class="breadcrumbs c-black">
    <h6 class="url"><span class="flex-gap-right">Schemes</span> <i class="fa fa-angle-right flex-gap-right" aria-hidden="true"></i> <span class="flex-gap-right">KGBV & CWSN</span><i class="fa fa-angle-right flex-gap-right" aria-hidden="true"></i><span class="flex-gap-right">Students Tracking</span></h6>
    </div>
</div>
<div class="main-body-content p-3">
        <div *ngIf="list_page">
    <p-card>
            <div class="row">
                <div class="col-sm-9 mt-3">
                    <div class="breadcrumbs c-black">
                        <h5 class="url"><span class="flex-gap-right font-weight-bold" (click)="goBack()">Benefit Tracking</span></h5>
                        </div>
                </div>
                <div class="col-sm-2">
                    <input pInputText type="text"  (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control" placeholder="Student Name Filter" />
                </div>
                <div class = "col-sm-1" style="padding-top:10px;padding-left: 60px;">
                    <i class="fa fa-file-excel-o header-icon url" aria-hidden="true"  (click)="exportExcel()"></i>
                </div>
               
            </div>
            <hr/>
            <div>
                <!-- <label class="font-weight-bold">Students List</label> -->
                <p-table #dt [columns]="header" [value]="studentList" [paginator]="true" [rows]="10" [resizableColumns]="true">
                    <ng-template pTemplate="header" let-distname>
                        <tr class="text-center">
                            <th class="sno-header-layous">S.NO</th>
                            <th *ngFor="let col of distname" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                            <!-- <th class="sno-header-layous">View</th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-stud_list let-columns="columns" let-i="rowIndex">
                        <tr class="text-center" *ngIf="!noDataFound">
                            <td class="sno-header-layous"> {{i+1}} </td>
                            <td class="text-center"> {{ stud_list.StudentID}} </td>
                            <td class="text-center font-weight-bold"> {{ stud_list.studentName}} </td>
                           
                            <td> <button pButton pRipple type="button" icon="pi pi-eye" label="View" (click)="getSelectedStudentDetails(stud_list.StudentID,stud_list.studentName)" class="p-button-rounded p-button-text"></button></td>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr class="text-left" *ngIf="noDataFound">
                            <td colspan="24"> No Data Found </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td colspan="4" style="text-align: center;">
                                <strong>No Data found</strong>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
        </div>
        <div *ngIf="mapping_page">
            <!-- <p-toolbar class="p-2"> -->
            <div class="breadcrumbs c-black p-3">
                <h6 class="url"><span class="flex-gap-right font-weight-bold" (click)="goBack()">Benefit Tracking</span> <span *ngIf="select_name" class="font-weight-bold"><i class="fa fa-angle-right flex-gap-right" aria-hidden="true"></i>{{select_name}}</span></h6>
            </div>
            <!-- </p-toolbar> -->
            <p-card>
            <div class="p-2">
                <!-- <p-table #dt [columns]="detail_header" [value]="students_detai_beni_api" [resizableColumns]="true">
                <ng-template pTemplate="header" let-distname>
                    <tr class="text-center">
                        <th class="sno-header-layous">S.NO</th>
                        <th *ngFor="let col of distname" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                            {{col.header}}
                        
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stud_list let-columns="columns" let-i="rowIndex">
                    <tr class="text-center" *ngIf="!noDataFound_detail">
                        <td class="sno-header-layous"> {{i+1}} </td>
                        <td class="text-center"> {{ stud_list.student_id}} </td>
                        <td class="text-center"> {{ stud_list.student_name}} </td>
                        <td class="text-center"> {{ stud_list.school_id}} </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr class="text-center" *ngIf="noDataFound_detail">
                        <td colspan="24"> No Data Found </td>
                    </tr>
                </ng-template>
            </p-table> -->
                <p-table #dt [columns]="detail_header" [value]="studentRecords" [resizableColumns]="true" editMode="row">
                    <ng-template pTemplate="header" let-distname>
                        <tr class="text-center">
                            <th class="sno-header-layous">S.NO</th>
                            <th *ngFor="let col of distname" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                                {{col.header}}

                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-stud_list let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="stud_list">
                            <td class="sno-header-layous"> {{ri+1}} </td>
                            <td class="text-center"> {{ stud_list.benefit_type == "1" ? "Textbook" :  stud_list.benefit_type == "2" ? "Uniform" :  stud_list.benefit_type == "3" ? "Stationery" :  stud_list.benefit_type == "4" ? "Notebook" :  "Footwear"}} </td>
                            <!-- <td class="text-center"> {{ stud_list.school_id}} </td> -->
                            <!-- <td class="text-center"> {{ stud_list.student_id}} </td> -->
                            <td class="text-left"> {{ stud_list.term == "1" ? "I" :  stud_list.term == "2" ? "II" :  stud_list.term == "3" ? "III"  :  "IV"}}</td>
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input  type="date" [(ngModel)]="stud_list.distribute_date" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{stud_list.distribute_date}}
                                    </ng-template>
                                </p-cellEditor>
                            </td> 
                            <td style="text-align:center">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" label="Edit" (click)="onRowEditInit(stud_list)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"  (click)="onRowEditSave(stud_list)" class="p-button-rounded p-button-text p-button-success p-mr-2 btn-success flex-gap-right"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"  (click)="onRowEditCancel(stud_list, ri)" class="p-button-rounded p-button-text p-button-danger btn-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <hr/>
            <!-- <form [formGroup]="form">
      <div class="form-group row">
          <div class="col-sm-4">
              <label  class="font-weight-bold">Student Name</label>
                  <input type="text"  formControlName="student_name" disabled class="form-control" placeholder="Student Name"/>
                 
          </div>
          <div class="col-sm-4">
              <label  class="font-weight-bold">Student ID</label>
                  <input pInputText type="text"   formControlName="student_id" disabled class="form-control" placeholder="Student ID"/>
                  <small class="form-text text-danger"
                  *ngIf="!form.get('student_id').valid && (submitted || form.get('student_id').dirty || form.get('student_id').touched)">
                  Student ID is required</small>
          </div>
          <div class="col-sm-4">
            <label  class="font-weight-bold">Benefit Type<span class="text-danger"> *</span></label>
            <p-dropdown  formControlName="benefit_type" placeholder="Benefit Type"></p-dropdown>
          
            <small class="form-text text-danger"
            *ngIf="!form.get('benefit_type').valid && (submitted || form.get('benefit_type').dirty || form.get('benefit_type').touched)">
            Benefit Type is required</small>
          </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-4">
              <label  class="font-weight-bold">Distribute Date<span class="text-danger"> *</span></label>
              <input class="form-control" type="date" placeholder="Date" dateformat="yyyy/dd/mm" max="{{todayDate}}" formControlName="distribute_date">
                  <small class="form-text text-danger"
                  *ngIf="!form.get('distribute_date').valid && (submitted || form.get('distribute_date').dirty || form.get('distribute_date').touched)">
                   Date  is required</small>
          </div>
      </div>
      <div class="text-center mt-3">
          <button type="submit" class="btn btn-success m-2" (click)="save_data()">Save Tracking Details</button>
          <button type="submit" class="btn btn-secondary btn-border m-2" (click)="cancle()" >Cancel</button>
      </div>
      </form> -->
    </p-card>
        </div>
</div>