<div class="outer-layout" style="padding-top:15px;">
  <div class="breadcrumbs c-black">
    <h6 classs="url"><span class="flex-gap-right">Staffs</span><i class="fa fa-angle-right flex-gap-right" area-hidden="true"></i><span class="flex-gap-right">Adminitartive Transfers</span><i class="fa fa-angle-right flex-gap-right" area-hidden="true"></i><span class="flex-gap-right">Approval Transfer Request - Staff List</span>
    </h6>
 </div>
</div>
<div class="container-fluid">
    <div class="main-body-content m-2">  
        <!--  [globalFilterFields]="['name','class_studying_id','unique_id_no','old_school']" -->
        <p-table #dt  [columns]="dataHeader" [value]="parentData" [resizableColumns]="true" 
              [paginator]="true" [rows]="10" [(selection)]="selectedStaff" styleClass="borderless">
            <ng-template pTemplate="caption">
            <div class="row p-1">
              <!-- <div class="col-sm-4">
                  <div class="text-lg-left mt-3">
                    <h4>Approval Transfer Request - Staff List</h4>
                  </div>
              </div> -->
              <div class="col-sm-3">
                <p-dropdown [options]="district" [(ngModel)]="districtfilter" placeholder = "Select" (ngModelChange)="stfTransReqtDistId($event)"></p-dropdown>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-8"></div>
              <div class="col-sm-3">
                  <div class="text-right">
                       <input type="text" pInputText size="15" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>              
               </div>
               <div class="col-sm-1 p-1 flex-row-center-end">
                <div class="text-right">
                    <i class="fa fa-file-excel-o header-icon url" aria-hidden="true"  (click)="exportExcel(parentData)"></i>
                </div>
            </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr class="text-center">
              <th style="width:4em;">S.No</th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.widthstyle" [ngSwitch]="col.field">
                <span *ngSwitchCase="'transfer'"> 
                    {{col.header}}<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </span>
                <span *ngSwitchCase="'action'"> 
                    {{col.header}}
                </span>
                <span *ngSwitchDefault>
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
            <tr class="text-center">
              <!-- [ngClass]="(col.field!='transfer')?'ui-resizable-column':'forcheckbok'" -->
              <td style="width:4em;">{{i+1}}</td>
              <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngClass]="{'ui-resizable-column': col.field!='transfer'}">
                <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                <span *ngSwitchCase="'sno'">{{i+1}}</span>
                <span *ngSwitchCase="'transfer'"><p-tableCheckbox [value]="rowData"></p-tableCheckbox></span>
                <span *ngSwitchCase="'action'"> 
                    <button pButton type="button" label="Reject" class="ui-button-rounded ui-button-danger" (click)="onRowReject(rowData.teacher_uid)"></button>
                </span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="(columns.length)" style="text-align: center;">
                 <strong>No records found</strong>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
           Selected Staff Name ({{selectedStaff.length}}) :
            <ul>
                <li *ngFor="let ss of selectedStaff" style="text-align: left">
                    {{ss.teacher_name}}
                </li>
            </ul>
        </ng-template>
        </p-table>
        <div class="ui-grid-row">
          <div class="ui-grid-col-9"><br><br></div>
          <div class="ui-grid-col-2"><br>
                      <button style="float: right;" pButton type="button" label=" Submit " class="ui-button-raised ui-button-rounded" (click)="onSubmit()"></button>
          </div>
        </div>
      </div> 
  </div>      