<div class="container-fluid">
     <p-card>
        <div class="row p-row">
            <div class="col-sm-3 col-md-3 p-field">
               <h4>Student Homework Details</h4>
            </div>
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-8 col-md-8">
                <button pButton type="button"  label="ADD +" iconPos="right" (click)="getpopup($event)"></button>
                <!-- <button pButon type="button" label="Print" iconPos="right" (click)="getpopup($event)"class="ui-button-secondary"></button>
                <button pButon type="button" label="PDF" iconPos="right"  (click)="getpopup($event)" class="ui-button-secondary"></button>
                <button pButon type="button" label="CSV" iconPos="right"  (click)="getpopup($event)" class="ui-button-secondary"></button> -->

            </div>
        </div>
        
        <p-card>
            <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [autoLayout]="true">
                <ng-template pTemplate="caption">
            
                        <div class=" text-right">
                            <i class="pi pi-search" style="margin:4px 4px 0 0;"></i>
                            <input type="text" pInputText size="20" placeholder="Search"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
        
                </ng-template>
        
                    <ng-template pTemplate="header" >
                        <tr>
                             <th>S.No</th>
                             <th>Subject</th>
                             <th>Assign class</th>
                             <th>Edit</th>
                        </tr>
                            <!-- <th pSortableColumn="subject">Subject <p-sortIcon field="subject"></p-sortIcon></th>
                                <th pSortableColumn="assignclass">Assign Class <p-sortIcon field="assignclass"></p-sortIcon></th>
                                    <th pSortableColumn="edit">Edit <p-sortIcon field="edit"></p-sortIcon></th>
                            </tr> -->
                </ng-template>
                <ng-template pTemplate="body"  let-reports let-i="rowIndex">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{reports.subject}}</td>
                        <td>{{reports.class_id}}</td>
                        <td></td>
                        </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr class="text-center" *ngIf="noDataFound">
                        <td colspan="6">No Data Available in Table</td>
                      </tr>
                </ng-template>
        
            </p-table>
           
        </p-card>
    </p-card>
</div>
<p-dialog 
    [(visible)]="showDialogBox" [style]="{width:'50vw'}" [modal]="true" [maximizable]="true"
    [baseZIndex]="10000">

    <p-header>
        HomeWork
    </p-header>
    <form [formGroup]="homeWorkdetails">
        <div class="row form-group " style="padding-top: 10px;">
            <div class="col-sm-6 col-md-6">
                <label>Select class*</label>
                <p-dropdown [options]="class"  placeholder = "Select Class" formControlName="selectclass" (onChange)="getdropdown($event)"></p-dropdown>
            </div>
            <div class="col-sm-6 col-md-6">
                <label>Section*</label>
                <p-dropdown [options]="sectionData" placeholder = "Select section" formControlName="selectsection" (onClick)="getsection($event)">
                    <ng-template let-sectionDatas>
                        {{sectionDatas.label}}
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-sm-6 col-md-6" *ngIf = "homeWorkdetails.value.selectclass == '2'">
                       
                <label>Subject*</label>
                
                <p-dropdown [options]="subject" placeholder = "Select Subject" formControlName="selectsubject"></p-dropdown>
            </div>
            <div class="col-sm-6 col-md-6" *ngIf = "homeWorkdetails.value.selectclass == '1'">
                       
                <label>Subject*</label>
                
                <p-dropdown [options]="subject1"  formControlName="selectsubject"></p-dropdown>
            </div>

            </div>
            <div class="col-sm-12 col-md-12">
                <label>Home Work*  </label>
            </div>
            <div>
                <p-editor formControlName="description" [style]="{'height':'320px'}"></p-editor>
            </div>

            <p-footer>
                <div class="text-right">
                    <button type="submit" class="btn btn-success" name="Save" (click)="save()">Save</button>
                    <button type="submit" class="btn btn-light" (click)="close_dialog()">Cancel</button>
                </div>
            </p-footer>    
            <p>{{this.homeWorkdetails.value | json}}</p>          
    </form>
</p-dialog>
