<div class="main-body-content">
 
   <div [hidden]="!isStudents">
      <!--use here for students data-->
      <div class="chartcontainer">
         <canvas id="myChart" style="width: 900px; height: 250px"> </canvas>
        
       </div>
   </div>
   <div [hidden]="!isStaffs">
      
   <!--use here for staffs data-->
   
   <!-- <p class="flex-gap-top">i am a staff</p> -->
   </div>
   <div [hidden]="!isSchools">
      
   <!--use here for schools data-->
   
   <!-- <p class="flex-gap-top">i am a school</p> -->
   </div>
   </div>