<p-card>
  <p-header>
    <div class="backclr-grn font-16 mt-4">
      RESET PASSWORD
    </div>
  </p-header>
  <form [formGroup]="passwordform"  >
    <div class="col-md-8 p-5">
      <div class="row">
        <div class="col-md-6">
          <label>Old password <label class="manditory">*</label></label>
        </div>
        <div class="col-md-6">
          <input type="password" formControlName="old_password" class="form-controls input-clr my-2" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>New password <label class="manditory">*</label></label>
        </div>
        <div class="col-md-6">
          <input type="password" formControlName="new_one_password" pPassword class="form-controls input-clr my-2" ng-minlength="8">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Confirm New password <label class="manditory">*</label></label>
        </div>
        <div class="col-md-6">
          <input type="password" formControlName="new_password" pPassword ng-minlength="3" class="form-controls input-clr my-2" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 mt-3 text-center">
          <button type="button" style="background-color: #065040;font-weight:500;" (click)="save()" class="btn btn-success">SUBMIT</button>
        </div>
      </div>
    </div>
  </form>
</p-card>
