.accessdenied {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .greenhighlight {
    color: green;
  }
  
.redhighlight {
  color: red;
}
.heading {
  font-weight: 600;
  font-style: normal;
  color: black;
  margin-top: 15px;
  margin-bottom: 13px;
  margin-left: 15px;
}