<!-- <div class="container-fluid" *ngIf="userTypeId === 5"> -->
    <div class="container-fluid" style="margin-top: 5px;">
    <div class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-5 col-md-5">
        <p-dropdown [options]="state"  placeholder="Select State"></p-dropdown>
    </div>
    <div class="col-sm-5 col-md-5">
        <p-dropdown [options]="schoolType" placeholder="Select Type"></p-dropdown>
    </div>
</div>
</div>
<!-- <div class="container-fluid" *ngIf="userTypeId === 9">
    <div class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-5 col-md-5">
        <p-dropdown [options]="block"  placeholder="Select Block"></p-dropdown>
    </div>
    <div class="col-sm-5 col-md-5">
        <p-dropdown [options]="schoolType" placeholder="Select Type"></p-dropdown>
    </div>
</div>
</div> -->
<br>
<p-card>
    <div class="row">
        <!-- <div class="col-sm-3 col-md-3">
        <div class=" row card_one" style = "background-color:tomato ;">
            <div>
            <p>Percentage of schools with integrated science lab(only for secondary)</p>
                <h3>2,60,155</h3>
            </div>
            <div>
              <div class="col-sm-4 col-md-4">
               <div>
        <i class="pi pi-user" style="font-size:8%"></i> 
        <img src="assets/img/Lab.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 float-center card_c">
         <p>Percentage of schools with integrated science lab(only for secondary)<p>
            <span></span><h3>2,60,155</h3> 
           <span></span> <p>2016-17</p>
           <span></span> <p>India</p>
    </div>
    </div>
    </div>
        </div> -->

        <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:yellowgreen">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/Lab.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:yellowgreen">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/Schools-04.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>
    
    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:palevioletred">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/Student.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:lightblue">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>

</div>


<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:orange">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:violet">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:yellow">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:turquoise">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:purple">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:tomato">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:pink">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="row card_one" style="background-color:cadetblue">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
         <p>Number of schools<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="row card_one" style="background-color:cadetblue">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
        <p>Percentage of schools with integrated science lab(only for secondary)<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="row card_one" style="background-color:cadetblue">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
        <p>Percentage of schools with integrated science lab(only for secondary)<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="row card_one" style="background-color:cadetblue">
            <div class="col-sm-4 col-md-4">
               <div>
        <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
        <img src="assets/img/student-with-graduation-cap.svg"
            alt="Profile Image" class="img-fluid">
    </div>
    </div>
    <div class="col-sm-8 col-md-8 card_c">
        <p>Percentage of schools with integrated science lab(only for secondary)<p>
            <h3>2,60,155</h3>
            <p>2016-17</p>
            <p>India</p>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="p-grid">
            <div class="p-col-4">
                <div class="row card_one" style="background-color:cadetblue">
                    <div class="col-sm-4 col-md-4">
                       <div>
                <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
                <img src="assets/img/student-with-graduation-cap.svg"
                    alt="Profile Image" class="img-fluid">
            </div>
            </div>
            <div class="col-sm-8 col-md-8 card_c">
                <p>Percentage of schools with integrated science lab(only for secondary)<p>
                    <h3>2,60,155</h3>
                    <p>2016-17</p>
                    <p>India</p>
            </div>
            </div>
            </div>
        </div>

        <div class="p-grid">
            <div class=" p-col-4">
                <div class="row card_one" style="background-color:cadetblue">
                    <div class="col-sm-4 col-md-4">
                       <div>
                <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
                <img src="assets/img/student-with-graduation-cap.svg"
                    alt="Profile Image" class="img-fluid">
            </div>
            </div>
            <div class="col-sm-8 col-md-8 card_c">
                <p>Percentage of schools with integrated science lab(only for secondary)<p>
                    <h3>2,60,155</h3>
                    <p>2016-17</p>
                    <p>India</p>
            </div>
            </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-4">
                <div class="row card_one" style="background-color:cadetblue">
                    <div class="p-col-4">
                       <div>
                <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
                <img src="assets/img/student-with-graduation-cap.svg"
                    alt="Profile Image" class="img-fluid">
            </div>
            </div>
            <div class="p-col-8 card_c">
                <p>Percentage of schools with integrated science lab(only for secondary)<p>
                    <h3>2,60,155</h3>
                    <p>2016-17</p>
                    <p>India</p>
            </div>
            </div>
            </div>
        </div>
    </div>
    
        <div class="p-grid">
            <div class="p-col-4">
                <div class="p-col-4">
                    <!-- <i class="pi pi-user" style="font-size:8%"></i> -->
                    <img src="assets/img/student-with-graduation-cap.svg"
                        alt="Profile Image" class="img-fluid">
                </div>
                <div class="p-col-8 card_c">
                    <p>Percentage of schools with integrated science lab(only for secondary)<p>
                        <h3>2,60,155</h3>
                        <p>2016-17</p>
                        <p>India</p>
                </div>
            </div>
            <div class="p-col-4">6</div>
            <div class="p-col-4">4</div>
        </div>

</p-card>
