.center {
  display: block;
  margin:auto;
  width: 70%;
  padding: 1%;
  }
  .manditory {
    color: #b92626;
  }

  .bodybk {  
    width: 100%;
    height: 100vh;
    background: url("/assets/img/Page-Turner.svg") no-repeat;
    background-size: cover;
    /* background-repeat: repeat-x; */
}
.head-aln {
  font-size: 20px;
  font-weight: 700;
  color:darkcyan;
}

.txt-left {
  text-align: left
}
.password-txt {
  font-weight: 500;
  font-size: 15px;
}

@media (max-width: 768px) { 
  .image {
    width:100%;
    height:100%;
  }
}