<!-- <div class="center">
    <p-card>
        <p-header>
            <div class="backclr-grn font-16 mt-4" style="text-align: left;font-weight: 700;">
                RESET PASSWORD
            </div>
        </p-header>
        <form [formGroup]="form" novalidate>
            <div class="row form-group">
                <div class="col-md-6 " style="text-align: left;">
                    <label>Password<span class="manditory">*</span></label>
                </div>
                <div class="col-md-6" style="text-align: left;">
                    <input type="password" pPassword pInputText class="form-control" formControlName="password"
                        minlength="8" />
                        <label style="color:red;font-style: italic;">Note:<span
                            style="color:#467e71;font-style: italic">Minimum 8 characters
                        </span></label>
                    <p-message severity="error" text="Password is required"
                        *ngIf="form.controls.password.errors && (submitted || form.controls.password.dirty || form.controls.password.touched)">
                    </p-message>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6 " style="text-align: left;">
                    <label>Confirm Password<span class="manditory">*</span></label>
                </div>
                <div class="col-md-6" style="text-align: left;">
                    <input type="password" pPassword pInputText class="form-control" formControlName="confirmpassword"
                       />
                        <p-message severity="error" text="Confirm password is required"
                        *ngIf="form.controls.confirmpassword.errors && (submitted || form.controls.confirmpassword.dirty || form.controls.confirmpassword.touched)">
                    </p-message>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 mt-3 " style="text-align: right;">
                    <button type="button" style="background-color: #065040;font-weight:500;" (click)="onSave()"
                        class="btn btn-success">SUBMIT</button>
                </div>
            </div>
        </form>
    </p-card>
</div> -->

<div class="login-container">
    <div class="center">
        <div  class="col-12 col-sm-12 col-md-12 col-lg-12 mobile-order-1">
            <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v4 kt-login--signin" id="kt_login">
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                    <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                        <div class="kt-login__container">
                            <div class="kt-login__logo">
                                <a href="#">
                                    <img src="assets/img/logo.svg" />
                                </a>
                            </div>
                            <div class="kt-login__signin">
                                <div class="kt-login__head">
                                    <h3 class="kt-login__title">கல்வி மேலாண்மைத் தகவல் மையம்</h3>
                                </div>
                                <div class="kt-login__head">
                                    <h3 class="kt-login__title">Reset Password</h3>
                                </div>
                                <form [formGroup]="form" novalidate>
                                    <div class="row form-group">
                                        <div class="col-md-6 col-sm-12">
                                            <img class="image" src="assets/img/3.png">
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                        
                                            <div class="row ">
                                                <div class="col-md-12 txt-left">
                                                    <label class="password-txt">Password<span class="manditory">*</span></label>
                                                </div>
                                                <div class="col-md-12 txt-left">
                                                    <input type="password" pPassword pInputText class="form-control" formControlName="password" minlength="8" />
                                                    <label style="color:red;font-style: italic;font-size: 13px;">Note:<span
                                                            style="color:#467e71;font-style: italic;font-size: 13px;padding-left: 5px;">Minimum
                                                            8 characters
                                                        </span></label>
                                                    <p-message severity="error" text="Password is required" *ngIf="form.controls.password.errors && (submitted || form.controls.password.dirty || form.controls.password.touched)">
                                                    </p-message>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 txt-left">
                                                    <label class="password-txt">Confirm Password<span class="manditory">*</span></label>
                                                </div>
                                                <div class="col-md-12 txt-left">
                                                    <input type="password" pInputText class="form-control" formControlName="confirmpassword" />
                                                    <p-message severity="error" text="Confirm password is required" *ngIf="form.controls.confirmpassword.errors && (submitted || form.controls.confirmpassword.dirty || form.controls.confirmpassword.touched)">
                                                    </p-message>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6 mt-3 " style="text-align: right;">
                                            <button type="button" style="background-color: #0b89a8;font-weight:bold;" (click)="onSave()" class="btn btn-success">SUBMIT</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="kt-login__account"> <span class="kt-login__account-msg">
                                        Support :
                                    </span>
                                <a href="mailto:tnemiscel@gmail.com" id="kt_login_signup" class="kt-login__account-link">tnemiscel@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>