button.btn.btn-success {
    background-color: #075c49;
    border: 1px solid #075c49;
}

button.btn.btn-success:hover {
    color: #075c49;
    background-color: white;
}

.dropdown1 {
    padding-right: 187px;
}

.dropdown2 {
    margin-left: -280px;
}

.submit {
    padding-left: 94px;
}

.excel {
    margin-top: -35px;
    padding-left: 833px;
}

.header {
    margin-top: 10px;
}