.box-shwd {
    box-shadow: 0 2px 6px #7686729e;
  }
  
  .backclr-grn {
    background-color: #075c49;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button.btn.btn-success {
    background-color: #075c49;
    border: 1px solid #075c49;
  }
  
  button.btn.btn-success:hover {
    color: #075c49;
    background-color: white;
  }
  
  .btn-border {
    border: 1px solid #ccc;
    margin-left: 15px;
  }
  

.bg_green{
    background: #2d7464 !important ;
}
.bg_info{
    background: #007ad9;
}
.bg_light{
    background: #d4d3d3 !important;
    border:  1px solid #d4d3d3;
}
.school_land_title{
    float: left;width: 100%;padding: 10px 2%;color: #fff;background: #2d7464;
}
/* .label_text{
    color: #19225aad;
    font-weight: bold;
} */
h5{
    font-size: 15px !important;
}
.manditory{
    color: #da1d1d;
}

.fullWidth{
    width: 100%;
}
.light_btn{
    padding:0.55rem 1.5rem;
    background: #e1e1ea;
}
.submit_button input{padding: 9px 18px;}
.submit_button input[type="submit"]{margin: 0 10px 0 0;}

.small_font{font-size: 11px !important;}

.form-control{border-color: #d5d7da !important;}
.sub-msg {
  width: 100%;
    display: flex;
}