button.btn.btn-success {
    background-color: #075c49;
    border: 1px solid #075c49;
}

button.btn.btn-success:hover {
    color: #075c49;
    background-color: white;
}

.submit {
    padding-left: 425px;
}

.dropdown {
    padding-right: 338px;
}

.Total {
    color: black;
}