<p-card class="card-aln">
    <div class="w3-panel">
      <div class="w3-row-padding row" style="margin:0 -16px">
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Attendance Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue ion-clr"></i></td>
                <td (click)="navigate('student-attendence','1')" class="subheader-clr"><a class="nav-link ">
                    <b>Students Attendance Register</b>
                  </a></td>

              </tr>
              <tr>
                <td ><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('student-attendence', '2')" class="subheader-clr"><a class="nav-link">
                   <b> Staff Attendance Register</b>
                     </a></td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Student Tagging Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large ion-clr"></i></td>
                <td (click)="navigate('studenttagging','1')" class="subheader-clr"><a class="nav-link"><b>NMMS Scheme</b></a> </td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studenttagging','2')" class="subheader-clr"> <a class="nav-link"><b>TRSTSE Scholarship Scheme</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studenttagging','3')" class="subheader-clr"><a class="nav-link"><b>Out Of School Children Register</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studenttagging','4')" class="subheader-clr">
                  <a class="nav-link"><b>Inspire Award Details</b></a> </td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('studenttagging','5')" class="subheader-clr">
                  <a class="nav-link"><b>Vocational Student (NSQF) Register</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studenttagging','6')" class="subheader-clr">
                  <a class="nav-link"><b>Students Sports Participation</b></a></td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Student Summary Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large ion-clr"></i></td>
                <td (click)="navigate('studentsummary','1')" class="subheader-clr"><a class="nav-link"><b>RTE Student Register</b></a> </td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentsummary','2')" class="subheader-clr"> <a class="nav-link"><b>CWSN-Student Register</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentsummary','3')" class="subheader-clr"><a class="nav-link"><b>Students Religion Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentsummary','4')" class="subheader-clr">
                  <a class="nav-link"><b>Students under Below Poverty Line</b></a> </td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('studentsummary','5')" class="subheader-clr">
                  <a class="nav-link"><b>Students having Valid AADHAR</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentsummary','6')" class="subheader-clr">
                  <a class="nav-link"><b>Students Report By Age</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentsummary','7')" class="subheader-clr">
                  <a class="nav-link"><b>Students Community Details</b></a></td>

              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="w3-panel">
      <div class="w3-row-padding row" style="margin:0 -16px">
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Student Welfare Sheme Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','1')" class="subheader-clr"
                ><a class="nav-link"><b>PTMGR Nutritious Meal Programme Beneficiaries (Mid Day Meal)</b></a> </td
                  >

              </tr>
              <!-- <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','2')" class="subheader-clr"> <a class="nav-link"><b>Cost Free Textbooks Distribution Details</b></a></td>

              </tr> -->
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','3')" class="subheader-clr"><a class="nav-link"><b>Cost Free Notebooks Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','4')" class="subheader-clr">
                  <a class="nav-link"><b>
                      Cost Free Bags Distribution Details</b></a> </td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','5')" class="subheader-clr">
                  <a class="nav-link"><b>
                      Cost Free Uniforms Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','6')" class="subheader-clr">
                  <a class="nav-link"><b>

                      Cost Free Footwear Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','7')" class="subheader-clr">
                  <a class="nav-link"><b>Cost Free Bus Pass Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','8')" class="subheader-clr"><a class="nav-link"><b>Cost Free Colour Pencil Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','9')" class="subheader-clr"><a class="nav-link"><b>Cost Free Geometry Box Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','10')" class="subheader-clr">
                  <a class="nav-link"><b>Cost Free Atlas Distribution Details</b></a></td>

              </tr>
             
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','11')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Laptops Distribution 11-Std Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','12')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Laptops Distribution 12-Std Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','13')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Laptops Distribution Previous Year 12-Std Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-green w3-large ion-clr"></i></td>
                <td (click)="navigate('studentwelfare','14')" class="subheader-clr"><a class="nav-link"><b>
                      CWSN-Student Benefits Register</b></a></td>

              </tr>
            </tbody>
          </table>
        </div>
         <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Hill Station Student Welfare Scheme Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
               <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('student-attendence','5')" class="subheader-clr">
                  <a class="nav-link"><b>Cost Free Cut-Sweater Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large ion-clr"></i></td>
                <td (click)="navigate('student-attendence','6')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Boot Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('student-attendence','7')" class="subheader-clr"><a class="nav-link"><b>
                      Cost Free Socks Distribution Details</b></a></td>

              </tr>
              <tr>
                <td><i class="fa fa-bookmark w3-text-red w3-large ion-clr"></i></td>
                <td (click)="navigate('student-attendence','8')" class="subheader-clr"><a class="nav-link"><b>Cost Free Raincoat Distribution Details</b></a></td>

              </tr>

            </tbody>
          </table>
        </div>
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Staff Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
               <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('student-attendence','3')" class="subheader-clr">
                  <a class="nav-link"><b>Staff Training Details</b></a></td>

              </tr>
              <!-- <tr>
                <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
                <td (click)="navigate('scaleregister')"><a class="nav-link"><b>
                      Scale Register</b></a></td>

              </tr> -->

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="w3-panel">
      <div class="w3-row-padding row" style="margin:0 -16px">
        <div class="w3-third col-lg-4">
          <div>
            <h5 class="header-color"><b>Club Participation Registers</b></h5>
          </div>
          <br>
          <table class="w3-table w3-striped w3-white">
            <tbody>
               <tr>
                <td><i class="fa fa-bookmark w3-text-yellow w3-large ion-clr"></i></td>
                <td (click)="navigate('student-attendence','4')" class="subheader-clr">
                  <a class="nav-link"><b>Club Participation Register</b></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
  

    <!-- <div class="w3-panel">
      <p-table [columns]="dataHeader" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-columns>
          <tr>
           
            <td>Student Attendance Register</td>
            <td>Staff Attendance Register</td>
            <td>Staff Attendance Register</td>
            <td>Staff Attendance Register</td>
          </tr>
        </ng-template>
      </p-table>
    </div> -->
  </p-card>


