.clr-blue{
  color: #337ab7;
  cursor: pointer;
}

td {
  width: 105px;
}

.width{
  width: 15em;
}
.width-169
{
  width:169px;
}
.heading {
  font-weight: 600;
  font-style: normal;
  color: black;
  margin-top: 15px;
  margin-bottom: 13px;
  margin-left: 15px;
}