<!-- RTE Student Register -->
<div class="main-body-content" *ngIf="pageId == '1'">
    <div class="outer-layout">
        <div class="breadcrumbs c-black">
            <h6 class="url">
                <span class="flex-gap-right" (click)="onBack()">Registers</span> <i
                    class="fa fa-angle-right flex-gap-right" aria-hidden="true"></i>
                <span class="flex-gap-right">RTE Student Register</span>
            </h6>
        </div>
    </div>
    <p-table #dt1  [columns]="sampleSelectedColumn1" [value]="rteData" [paginator]="true" [rows]="10"
        [autoLayout]="true" [paginator]="true" [resizableColumns]="true" [rows]="10">
        <ng-template let-childrens pTemplate="caption">
            <div class="row header flex-row-center">
                <div class="col-lg-3 p-1">

                    <p-multiSelect [options]="cols1" [(ngModel)]="sampleSelectedColumn1" optionLabel="header"
                        selectedItemsLabel="{0} columns selected" [style]="{minWidth: '225px'}"
                        defaultLabel="Choose Columns"></p-multiSelect>
                </div>
                <div class="col-lg-5">

                </div>
                <div class="col-sm-3 p-1">
                    <div class="text-right">
                        <input class="form-control" type="text"
                            (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Filter">
                    </div>
                </div>
                <div class="col-sm-1 p-1 flex-row-center-end">
                    <div class="text-right">
                        <i class="fa fa-file-pdf-o header-icon flex-gap-right url" aria-hidden="true"
                            (click)="exportPdf(rteData,sampleSelectedColumn1)"></i>
                        <i class="fa fa-file-excel-o header-icon url" aria-hidden="true"
                            (click)="exportExcel(rteData)"></i>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr class="table-header">
                <th style="width: 5em;text-align: center;">#</th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">{{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
            <tr [pSelectableRow]="data">
                <td class="sno-header-layout">{{i+1}}</td>
                <td>{{data.unique_id_no}}</td>
                <td style="width: 20em">{{data.name}}</td>
                <td>{{data.gender === "1" ? 'Boy' : 'Girl'}}</td>
                <td>{{data.community_name}}</td>
                <td style="width: 15em">{{data.dob | date: 'dd-MM-yyyy'}}</td>
                <td *ngIf="data.class_studying_id === '1'">I</td>
                <td *ngIf="data.class_studying_id === '2'">II</td>
                <td *ngIf="data.class_studying_id === '3'">III</td>
                <td *ngIf="data.class_studying_id === '4'">IV</td>
                <td *ngIf="data.class_studying_id === '5'">V</td>
                <td *ngIf="data.class_studying_id === '6'">VI</td>
                <td *ngIf="data.class_studying_id === '7'">VII</td>
                <td *ngIf="data.class_studying_id === '8'">VIII</td>
                <td *ngIf="data.class_studying_id === '9'">IX</td>
                <td *ngIf="data.class_studying_id === '10'">X</td>
                <td *ngIf="data.class_studying_id === '11'">XI</td>
                <td *ngIf="data.class_studying_id === '12'">XII</td>
                <td *ngIf="data.class_studying_id === '13'">LKG</td>
                <td *ngIf="data.class_studying_id === '14'">UKG</td>
                <td *ngIf="data.class_studying_id === '15'">Pre-KG</td>
                <td>{{data.class_section}}</td>
                <td>{{data.child_admitted_under_reservation}}</td>
                <td style="width: 20em">{{data.category}} - {{data.sub_category }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>




<!-- CWSN-Student Register -->
<div class="main-body-content" *ngIf="pageId == '2'">
    <div class="outer-layout">
        <div class="breadcrumbs c-black">
            <h6 class="url">
                <span class="flex-gap-right" (click)="onBack()">Registers</span> <i
                    class="fa fa-angle-right flex-gap-right" aria-hidden="true"></i>
                <span class="flex-gap-right">CWSN-Student Register</span>
            </h6>
        </div>
    </div>

   
        <p-table #dt2 [columns]="sampleSelectedColumn2" [value]="cwsnData" [resizableColumns]="true">
            <ng-template let-childrens pTemplate="caption">
                <div class="row header flex-row-center">
                    <div class="col-lg-3 p-1">

                        <p-multiSelect [options]="cols2" [(ngModel)]="sampleSelectedColumn2" optionLabel="header"
                            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '225px'}"
                            defaultLabel="Choose Columns"></p-multiSelect>
                    </div>
                    <div class="col-lg-5">
    
                    </div>
                    <div class="col-sm-3 p-1">
                        <div class="text-right">
                            <input class="form-control" type="text"
                                (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Filter">
                        </div>
                    </div>
                    <div class="col-sm-1 p-1 flex-row-center-end">
                        <div class="text-right">
                            <i class="fa fa-file-pdf-o header-icon flex-gap-right url" aria-hidden="true"
                                (click)="exportPdf(cwsnData,sampleSelectedColumn2)"></i>
                            <i class="fa fa-file-excel-o header-icon url" aria-hidden="true"
                                (click)="exportExcel(cwsnData)"></i>
                        </div>
                    </div>
                </div>

            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr style="white-space: nowrap" class="table-header">
                    <th style="width: 5em;text-align: center;">#</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td style="width: 4em">{{i+1}}</td>
                    <td *ngFor="let col of columns">
                        {{data[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="text-left" *ngIf="noDataFound">
                    <td colspan="15" style="text-align: center;"> No Data Found </td>
                </tr>
            </ng-template>
        </p-table>
    <br>

  
        <p-table #dt [columns]="sampleSelectedColumn3" [value]="cwsnData1" [resizableColumns]="true">
            <ng-template let-childrens pTemplate="caption">
                <div class="row header flex-row-center">
                    <div class="col-lg-3 p-1">

                        <p-multiSelect [options]="cols3" [(ngModel)]="sampleSelectedColumn3" optionLabel="header"
                            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '225px'}"
                            defaultLabel="Choose Columns"></p-multiSelect>
                    </div>
                    <div class="col-lg-5">
    
                    </div>
                    <div class="col-sm-3 p-1">
                        <div class="text-right">
                            <input class="form-control" type="text"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Filter">
                        </div>
                    </div>
                    <div class="col-sm-1 p-1 flex-row-center-end">
                        <div class="text-right">
                            <i class="fa fa-file-pdf-o header-icon flex-gap-right url" aria-hidden="true"
                                (click)="exportPdf(cwsnData1,sampleSelectedColumn3)"></i>
                            <i class="fa fa-file-excel-o header-icon url" aria-hidden="true"
                                (click)="exportExcel(cwsnData1)"></i>
                        </div>
                    </div>
                </div>

            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr style="white-space: nowrap" class="table-header">
                    <th style="width: 4em">#</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td style="width: 4em">{{i+1}}</td>
                    <td *ngFor="let col of columns">
                        {{data[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="text-left" *ngIf="noDataFound">
                    <td colspan="7" style="text-align: center;"> No Data Found </td>
                </tr>
            </ng-template>
        </p-table>
   

</div>

<!-- Students Religion Details -->
<div class="main-body-content" *ngIf="pageId == '3'">
    <div class="outer-layout">
        <div class="breadcrumbs c-black">
            <h6 class="url">
                <span class="flex-gap-right" (click)="onBack()">Registers</span> <i
                    class="fa fa-angle-right flex-gap-right" aria-hidden="true"></i>
                <span class="flex-gap-right">Students Religion Details</span>
            </h6>
        </div>
    </div>
        <p-table #dt3 [columns]="sampleSelectedColumn4" [value]="religiondata" [resizableColumns]="true">
            <ng-template let-childrens pTemplate="caption">
                <div class="row  header flex-row-center-start flex-gap-bottom">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-1">

                    </div>
                </div>
                <div class="row  header flex-row-center">
                    <div class="col-lg-3 p-1">

                        <p-multiSelect [options]="cols4" [(ngModel)]="sampleSelectedColumn4" optionLabel="header"
                            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                            defaultLabel="Choose Columns"></p-multiSelect>
                    </div>
                    <div class="col-lg-5">

                    </div>

                    <div class="col-sm-3 p-1">
                        <div class="text-right">
                            <input class="form-control" type="text"
                                (input)="dt3.filterGlobal($event.target.value, 'contains')"
                                placeholder="Verification Filter">
                        </div>
                    </div>
                    <div class="col-sm-1 p-1 flex-row-center-end">
                        <div class="text-right">
                            <i class="fa fa-file-pdf-o header-icon flex-gap-right url" aria-hidden="true"
                                (click)="exportPdf(religiondata,sampleSelectedColumn4)"></i>
                            <i class="fa fa-file-excel-o header-icon url" aria-hidden="true"
                                (click)="exportExcel(religiondata)"></i>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr style="white-space: nowrap" class="table-header">
                    <th style="width: 5em;text-align: center;">#</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td style="width: 4em">{{i+1}}</td>
                    <td *ngFor="let col of columns">
                        {{data[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="text-left" *ngIf="noDataFound">
                    <td colspan="15" style="text-align: center;"> No Data Found </td>
                </tr>
            </ng-template>
        </p-table>
  
</div>


<!-- Students under Below Poverty Line -->
<div class="main-body-content" *ngIf="pageId == '4'">
    <div class="outer-layout">
        <div class="breadcrumbs c-black">
            <h6 class="url">
                <span class="flex-gap-right" (click)="onBack()">Registers</span> <i
                    class="fa fa-angle-right flex-gap-right" aria-hidden="true"></i>
                <span class="flex-gap-right">Students under Below Poverty Line</span>
            </h6>
        </div>
    </div>

        <p-table #dt4 [columns]="sampleSelectedColumn5" [value]="povertyData" [resizableColumns]="true">
            <ng-template let-childrens pTemplate="caption">
                <div class="row  header flex-row-center-start flex-gap-bottom">
                    <div class="col-lg-3">
                        <!-- <p-dropdown [options]="school_type" (onChange)="school_type_val($event)"></p-dropdown> -->
                    </div>
                    <div class="col-lg-1">
                        <!-- <button type="submit" class="btn btn-success" (click)="SearchData()">Submit</button> -->
                    </div>
                </div>
                <div class="row  header flex-row-center">
                    <div class="col-lg-3 p-1">

                        <p-multiSelect [options]="cols5" [(ngModel)]="sampleSelectedColumn5" optionLabel="header"
                            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                            defaultLabel="Choose Columns"></p-multiSelect>
                    </div>
                    <div class="col-lg-5">

                    </div>

                    <div class="col-sm-3 p-1">
                        <div class="text-right">
                            <input class="form-control" type="text"
                                (input)="dt4.filterGlobal($event.target.value, 'contains')" placeholder="Filter">
                        </div>
                    </div>
                    <div class="col-sm-1 p-1 flex-row-center-end">
                        <div class="text-right">
                            <i class="fa fa-file-pdf-o header-icon flex-gap-right url" aria-hidden="true"
                                (click)="exportPdf(povertyData,sampleSelectedColumn5)"></i>
                            <i class="fa fa-file-excel-o header-icon url" aria-hidden="true"
                                (click)="exportExcel(povertyData)"></i>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr style="white-space: nowrap" class="table-header">
                    <th style="width: 5em;text-align: center;">#</th>
                    <th style="width: 15em">Students Under BPL</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="car">
                    <td>{{i+1}}</td>
                    <td>Below Poverty Line</td>
                    <td *ngFor="let col of columns">
                        {{car[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="text-left" *ngIf="noDataFound">
                    <td colspan="15" style="text-align: center;"> No Data Found </td>
                </tr>
            </ng-template>
        </p-table>
</div>


<!-- Students having Valid AADHAR -->
<div class="main-body-content" *ngIf="pageId == '5'">
    <div class="outer-layout">
        <div class="breadcrumbs c-black">
            <h6 class="url">
                <span class="flex-gap-right" (click)="onBack()">Registers</span> <i
                    class="fa fa-angle-right flex-gap-right" aria-hidden="true"></i>
                <span class="flex-gap-right">Students having Valid AADHAR</span>
            </h6>
        </div>
    </div>

    
        <p-table #dt5 [columns]="sampleSelectedColumn5" [value]="aadharData" [resizableColumns]="true">
            <ng-template let-childrens pTemplate="caption">
                <div class="row  header flex-row-center-start flex-gap-bottom">
                    <div class="col-lg-3">
                        <!-- <p-dropdown [options]="school_type" (onChange)="school_type_val($event)"></p-dropdown> -->
                    </div>
                    <div class="col-lg-1">
                        <!-- <button type="submit" class="btn btn-success" (click)="SearchData()">Submit</button> -->
                    </div>
                </div>
                <div class="row  header flex-row-center">
                    <div class="col-lg-3 p-1">

                        <p-multiSelect [options]="cols5" [(ngModel)]="sampleSelectedColumn5" optionLabel="header"
                            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                            defaultLabel="Choose Columns"></p-multiSelect>
                    </div>
                    <div class="col-lg-5">

                    </div>

                    <div class="col-sm-3 p-1">
                        <div class="text-right">
                            <input class="form-control" type="text"
                                (input)="dt5.filterGlobal($event.target.value, 'contains')" placeholder="Filter">
                        </div>
                    </div>
                    <div class="col-sm-1 p-1 flex-row-center-end">
                        <div class="text-right">
                            <i class="fa fa-file-pdf-o header-icon flex-gap-right url" aria-hidden="true"
                                (click)="exportPdf(aadharData,sampleSelectedColumn5)"></i>
                            <i class="fa fa-file-excel-o header-icon url" aria-hidden="true"
                                (click)="exportExcel(aadharData)"></i>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 5em;text-align: center;">#</th>
                    <th style="width: 15em">Students Having Aadhar</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td class="sno-header-layout">{{i+1}}</td>
                    <td>Students Having Aadhar</td>
                    <td *ngFor="let col of columns">
                        {{data[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="text-left" *ngIf="noDataFound">
                    <td colspan="15" style="text-align: center;"> No Data Found </td>
                </tr>
            </ng-template>
        </p-table>
    
</div>


<!-- Students Report By Age -->
<div class="main-body-content" *ngIf="pageId == '6'">
    <div class="outer-layout">
        <div class="breadcrumbs c-black">
            <h6 class="url">
                <span class="flex-gap-right" (click)="onBack()">Registers</span> <i
                    class="fa fa-angle-right flex-gap-right" aria-hidden="true"></i>
                <span class="flex-gap-right">Students Report By Age</span>
            </h6>
        </div>
    </div>

        <p-table #dt6 [columns]="sampleSelectedColumn6" [value]="ageData" [resizableColumns]="true" [paginator]="true"
            [rows]="10" [autoLayout]="true">
            <ng-template let-childrens pTemplate="caption">
                <div class="row  header flex-row-center-start flex-gap-bottom">
                    <div class="col-lg-3">
                        <!-- <p-dropdown [options]="school_type" (onChange)="school_type_val($event)"></p-dropdown> -->
                    </div>
                    <div class="col-lg-1">
                        <!-- <button type="submit" class="btn btn-success" (click)="SearchData()">Submit</button> -->
                    </div>
                </div>
                <div class="row  header flex-row-center">
                    <div class="col-lg-3 p-1">

                        <p-multiSelect [options]="cols6" [(ngModel)]="sampleSelectedColumn6" optionLabel="header"
                            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                            defaultLabel="Choose Columns"></p-multiSelect>
                    </div>
                    <div class="col-lg-5">

                    </div>

                    <div class="col-sm-3 p-1">
                        <div class="text-right">
                            <input class="form-control" type="text"
                                (input)="dt6.filterGlobal($event.target.value, 'contains')" placeholder="Filter">
                        </div>
                    </div>
                    <div class="col-sm-1 p-1 flex-row-center-end">
                        <div class="text-right">
                            <i class="fa fa-file-pdf-o header-icon flex-gap-right url" aria-hidden="true"
                                (click)="exportPdf(ageData,sampleSelectedColumn6)"></i>
                            <i class="fa fa-file-excel-o header-icon url" aria-hidden="true"
                                (click)="exportExcel(ageData)"></i>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr style="white-space: nowrap" class="table-header">
                    <th style="width: 5em;text-align: center;">#</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="car">
                    <td class="sno-header-layout">{{i+1}}</td>
                    <td *ngFor="let col of columns">
                        {{car[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="text-left" *ngIf="noDataFound">
                    <td colspan="15" style="text-align: center;"> No Data Found </td>
                </tr>
            </ng-template>
        </p-table>
   
</div>


<!-- Students Community Details -->
<div class="main-body-content" *ngIf="pageId == '7'">
    <div class="outer-layout">
        <div class="breadcrumbs c-black">
            <h6 class="url">
                <span class="flex-gap-right" (click)="onBack()">Registers</span> <i
                    class="fa fa-angle-right flex-gap-right" aria-hidden="true"></i>
                <span class="flex-gap-right">Students Community Details</span>
            </h6>
        </div>
    </div>

  
        <p-table #dt7 [columns]="sampleSelectedColumn7" [value]="comData" [resizableColumns]="true" [paginator]="true"
            [rows]="10">
            <ng-template let-childrens pTemplate="caption">
                <div class="row  header flex-row-center-start flex-gap-bottom">
                    <div class="col-lg-3">
                        <!-- <p-dropdown [options]="school_type" (onChange)="school_type_val($event)"></p-dropdown> -->
                    </div>
                    <div class="col-lg-1">
                        <!-- <button type="submit" class="btn btn-success" (click)="SearchData()">Submit</button> -->
                    </div>
                </div>
                <div class="row  header flex-row-center">
                    <div class="col-lg-3 p-1">

                        <p-multiSelect [options]="cols7" [(ngModel)]="sampleSelectedColumn7" optionLabel="header"
                            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                            defaultLabel="Choose Columns"></p-multiSelect>
                    </div>
                    <div class="col-lg-5">

                    </div>

                    <div class="col-sm-3 p-1">
                        <div class="text-right">
                            <input class="form-control" type="text"
                                (input)="dt7.filterGlobal($event.target.value, 'contains')" placeholder="Filter">
                        </div>
                    </div>
                    <div class="col-sm-1 p-1 flex-row-center-end">
                        <div class="text-right">
                            <i class="fa fa-file-pdf-o header-icon flex-gap-right url" aria-hidden="true"
                                (click)="exportPdf(comData,sampleSelectedColumn7)"></i>
                            <i class="fa fa-file-excel-o header-icon url" aria-hidden="true"
                                (click)="exportExcel(comData)"></i>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr style="white-space: nowrap" class="table-header">
                    <th style="width: 5em;text-align: center;">#</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.widthstyle">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="car">
                    <td class="sno-header-layout">{{i+1}}</td>
                    <td *ngFor="let col of columns">
                        {{car[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="text-left" *ngIf="noDataFound">
                    <td colspan="15" style="text-align: center;"> No Data Found </td>
                </tr>
            </ng-template>
        </p-table>
   
</div>