.excel{
    text-align : left;
    padding-left: 3px;
}
.text-right{
    text-align: right;
}
.third_input{
    
    margin-left:10px;

}
.sec_input{
    padding-left: 5px;
}
.second_input{
        padding-bottom:5px;
        padding-left:1%;
        padding-right:85px;
        padding-top:1%;
}
/* label.ng-tns-c15-1.ui-dropdown-label.ui-inputtext.ui-corner-all.ng-star-inserted {
    margin: 1px;
    padding-right: 32px;
    display: block;
} */
/* :: ng-deep p-dialog .ui-dialog{
    overflow:scroll;
    max-height:100%
} */
.c-dialog-overflow{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow-y: scroll;

}
.row1
{   
   margin-left:20%;
   padding-top:2.5%;
}

.center {
    margin: auto;
    width: 80%;
    /* border: 3px solid green; */
    /* padding: 10px; */
  }

