<div class="container-fluid table">
    <p-card>
        <h3>NOC for CBSE Affiliation</h3>
        <p>The school can apply for NOC (No Objection Certificate) to be affiliated to Central Board for Secondary Education (CBSE). The Competent school authority (Principal / Correspondent) should ensure that all the details in the form are filled correctly
            and accurately. The application will be processed by the relevant authorities and progress can be tracked through the school's EMIS login.
        </p>
        <br>
        <p>
            The following details / documents are important for completing the application form. Each item from S.No. 2 to S.No. 10 should be uploaded as a single PDF document not exceeding 2MB in size in the relevant sections in the application form.
        </p>
        <p>
            1. All details about the school, staff and students are accurate and up to date in EMIS.
        </p>
        <p>2. Land Ownership related documents (Sale / Lease Deed)
        </p>
        <p>3. Building License duly attested by Competent Authority
        </p>
        <p>4. Latest Building Stability Certificate duly attested by Competent Authority
        </p>
        <p>5. Building Plans duly attested by Competent Authority
        </p>
        <p>6. Latest Sanitary Certificate duly attested by Competent Authority
        </p>
        <p>7. Latest Fire Safety Certificate duly attested by Competent Authority
        </p>
        <p>8. Minority Certificate (if applicable)
        </p>
        <p>9. Photographs of the school
        </p>
        <p>10. Challan of Fee paid for NOC application</p>
        <div class="text-right mt-3">
            <button type="submit" class="btn btn-success" (click)="onSave() ">Start Application</button>
            <!-- <button type=" submit " class="btn btn-success " (click)="onSave()">Start Application</button> -->
        </div>
    </p-card>
</div>